<div class="footer">
  <div class="grid grid-3up">
    <div class="grid-item d-flex align-items-center justify-content-center">
      <div class="logo">
        <h1 class="f5 serif uppercase tracked"><a href="/">Weddings With Anna</a></h1>
      </div>
    </div>
    <div class="grid-item d-flex align-items-center justify-content-center">
      <nav class="nav">
        <a class="serif" href="/meet-anna">Meet Anna</a>
        <a class="serif" href="/faqs">FAQs</a>
        <a class="serif" href="/contact">Contact</a>
      </nav>
    </div>
    <div class="grid-item d-flex align-items-center justify-content-center">
      <h5 class="f6 serif">Copyright {{ "now" | date: "%Y" }} </h5>
    </div>
  </div>
  </div>
