.btn {
  display: inline-block;
  position: relative;
  padding: 1.25rem 3.75rem;
  background-color: $tomato;
  color: $white;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: 350ms all ease-in-out;
}

.btn:hover {
  background-color: darken($tomato, 5);
}
