.btn {
  display: inline-block;
  position: relative;
  padding: 1rem 2rem;
  color: $navy;
  border: 1px solid $navy;
  text-decoration: none;
  transition: 350ms all ease-in-out;
}

.btn:hover {
  color: $white;
  background-color: $rose;
}
