.btn {
  display: inline-block;
  position: relative;
  padding: 1rem 2rem;
  background-color: $salmon;
  color: $black;
  text-decoration: none;
  transition: 350ms all ease-in-out;
}

.btn:hover {
  background-color: lighten($salmon, 5);
}
