fieldset {
  margin: 1rem 0;
  padding: 0;
  border: 0;

  label,
  .label {
    margin: 0;
    padding-bottom: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  textarea {
    width: 100%;
    font-size: 1rem;
    padding: .5rem 0;
    outline: none;
    border: 0;
    border-bottom: 1px solid $slate;
    background: transparent;

    &:focus {
      border-color: $rose;
    }
  }

  select,
  input[type="checkbox"] {
    margin-top: .875rem;
  }

  input[type="checkbox"] {
    margin-right: .5rem;
  }

  button[type="submit"] {
    display: block;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid $navy;
    transition: 250ms background ease-in-out;

    &:hover {
      color: $white;
      background-color: $rose;
      cursor: pointer;
    }
  }
}
