.grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(6, 1fr);

  .grid-item {
    grid-column: 1 / span 6;
  }
}

.content-welcome .grid {
  height: 75vh;
  grid-template-rows: repeat(3, 1fr);
  .grid-item {
    grid-column: 1 / span 6;
    grid-row: 2;

    @media (min-width: $lg) {
      grid-column: 1 / span 4;
    }
  }
}

.content-callout .grid {
  .grid-item {
    grid-column: 2 / span 4;
  }

  .grid-item::last-child {
    grid-column: 3 / span 3;
  }
}

.content-meet .grid {
  .grid-item {
    @media (min-width: $md) {
      grid-column: 1 / span 1;  
    }
  }

  .grid-item:last-child {
    @media (min-width: $md) {
      grid-column: 2 / span 4;
    }
  }
}

.content-faqs .grid {
  .grid-item {
    grid-column: span 6;

    @media (min-width: $md) {
      grid-column: span 3;  
    }

    @media (min-width: $lg) {
      grid-column: span 2;  
    }
  }
}
