.grid {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(6, 1fr);

  .grid-item {
    grid-column: 1 / span 6;
  }
}

.content-welcome .grid {
  height: 100vh;
  .grid-item {
    grid-column: 1 / span 6;

    @media (min-width: $lg) {
      grid-column: 2 / span 4;
    }
  }
}

.content-callout .grid {
  grid-gap: 8rem;
  .grid-item {

    grid-column: 1 / span 3;
  }

  .grid-item:last-child {
    grid-column: 4 / span 3;
  }
}

.content-meet .grid {
  .grid-item {
    @media (min-width: $md) {
      grid-column: 1 / span 1;  
    }
  }

  .grid-item:last-child {
    @media (min-width: $md) {
      grid-column: 2 / span 4;
    }
  }
}

.content-faqs .grid {
  .grid-item {
    grid-column: span 6;

    @media (min-width: $md) {
      grid-column: span 3;  
    }

    @media (min-width: $lg) {
      grid-column: span 2;  
    }
  }
}

.content-listen .grid {
  .media {
    grid-column: span 6;
    @media (min-width: $lg) {
      grid-column: span 3;
    }
  }
}

.contact .grid {
  .grid-item {
    @media (min-width: $lg) {
      grid-column: span 4;
    }
  }

  fieldset {
    grid-column: span 6;

    @media (min-width: $md) {
      grid-column: span 3;
    }

    @media (min-width: $lg) {
      grid-column: span 2;
    }

    &:last-child {
      grid-column: span 6;
    }
  }
}
