.app-header {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  height: 5rem;
  background: $cream;
  z-index: 200;

  .header {
    display: flex;
    align-items: center;
    position: relative;
  }

  .header-logo {
    display: block;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  .header-nav {
    margin-left: auto;
    .nav {
      display: flex;
      a {
        margin-left: 1rem;
        color: $black;
        text-decoration: none;

        &::before {
          position: relative;
          content: '';
          margin-right: .5rem;
          border: 1px solid $tomato;
          opacity: 0;
          transition: .35s all ease-in-out;
        }
      }

      a:hover {
        color: $gray;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  .header-social {
    position: fixed;
    bottom: 0;
    left: 0;

    padding-left: $unit-4;
    padding-top: $unit-4;
    padding-bottom: $unit-4;

    .social-item {
      display: block;
      margin-bottom: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
