html {
  font-size: 16px;
}
/* Morion Regular */
@font-face {
	font-family: Morion;
	src:	url('../fonts/hinted-Morion-Regular.woff?region=us-east-2&tab=overview') format('woff'),
        url('../fonts/hinted-Morion-Regular.eot?region=us-east-2&tab=overview') format('eot');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// /* Morion Bold */
// @font-face {
// 	font-family: Morion;
// 	src:	url('../fonts/hinted-Morion-Bold.woff?region=us-east-2&tab=overview') format('woff'),
//         url('../fonts/weddings-with-anna/hinted-Morion-Bold.eot?region=us-east-2&tab=overview') format('eot');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: swap;
// }



// FONT FAMILY
.serif {
  font-family: 'Morion', Georgia, serif;
}

// FONT SCALE
// designed using the Golden Ratio
// https://type-scale.com/
h1, h2, h3, h4, h5 {
  font-weight: 500;
}


h1, .f1 {
  font-size: 6.854rem; // 109.664px
}

h2, .f2 {
  font-size: 4.236rem; // 67.776px
}

h3, .f3 {
  font-size: 2.618rem; // 41.888px
}

h4, .f4 {  
  font-size: 1.618rem; // 25.888px
  line-height: 2rem;
}

h5, .f5 {
  font-size: 1.1875rem; // 19px
  line-height: 1.5rem;
}

.f6 {
 font-size: 1rem;
}

.f7 {
  font-size: .618rem; // 10px
}

p {
  line-height: 1.618;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}
