html {
  font-size: 16px;
}

// FONT FAMILY
.serif {
  font-family: 'LydianBTWXX-Roman', Georgia, serif;
}

.mono {
  font-family: 'Input Mono', 'Inconsolata', 'Menlo', monospace;
}

// FONT SCALE
// designed using the Golden Ratio
// https://type-scale.com/
h1, h2, h3, h4, h5 {
  font-weight: 300;
}

h1, .f1 {
  font-size: 4.236rem;
  @media (min-width: $lg) {
    font-size: 6.854rem; // 109.664px 
    line-height: 1;
  }
}

h2, .f2 {
  font-size: 2.618rem;
  @media (min-width: $lg) {
    font-size: 4.236rem; // 67.776px
    line-height: 4.5rem;
  }
}

h3, .f3 {
  font-size: 2.618rem; // 41.888px
}

h4, .f4 {  
  font-size: 1.618rem; // 25.888px
  line-height: 2rem;
}

h5, .f5 {
  font-size: 1.1875rem; // 19px
  line-height: 1.5rem;
}

p, .f6 {
  font-size: 1rem;
  line-height: 1.618;
}

.f7 {
  font-size: .875rem; // 14px
}

.f8 {
  font-size: .618rem; // 10px
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.blockquote {
  position: relative;

  &::before {
    content: '“';
    position: absolute;
    left: -80px;
    top: 20px;
    font-size: 150px;
  }
}

.text-accent {
  color: tan;
}
