// breakpoints
$xs: 300px;
$sm: 480px;
$md: 767px;
$lg: 992px;
$xl: 1140px;

// spacers
$unit: .5rem;
$unit-2: $unit * 2;
$unit-3: $unit * 3;
$unit-4: $unit * 4;
$unit-5: $unit * 5;
$unit-6: $unit * 6;
$unit-7: $unit * 7;
$unit-8: $unit * 8;
$unit-9: $unit * 9;
$unit-10: $unit * 10;

// colors
$navy: #2A3B41;
$slate: #4A5D63;
$rose: #F78B94;
$neon: #CFE251;
$blue: #4B82A3;
$white: #ffffff;
