// breakpoints
$screen-xs: 300px;
$screen-sm: 480px;
$screen-md: 767px;
$screen-lg: 992px;
$screen-xl: 1140px;

// spacers
$unit: 8px;
$unit-2: $unit * 2;
$unit-3: $unit * 3;
$unit-4: $unit * 4;
$unit-5: $unit * 5;
$unit-6: $unit * 6;
