<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="crossroads media" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="manifest" href="//dz6ito7tas43n.cloudfront.net/images/favicon/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a37304">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>Weddings With Anna</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.image %}https:{{ page.image | escape }}{% else %}{{ site.image | escape }}{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123132749-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123132749-1');
    </script>

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i" rel="stylesheet">
  </head>
  <body>
    <div class="app">
      <div class="app-background"></div>
      <div class="app-background-image" style="background-image: url('/images/welcome-bg.jpg'); opacity: 0;"></div>
      {% if page.banner %}
        <div class="app-banner sticky text-center">
          <a href="/contact"><h4 class="flush mono f7">Now booking for 2019 weddings! <strong>Get In Touch</strong></h4></a>
        </div>
      {% endif %}
      <div class="app-content">
        {% include _header.html %}
        <main class="content">
          {{ content }}
        </main>
      </div>
    </div>
    
    <div class="footer">
     <div class="grid">
       <div class="grid-item text-center">
         <h5 class="f6 serif">Weddings With Anna — Copyright {{ "now" | date: "%Y" }} </h5>
       </div>
     </div>
    </div>

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        // audio
        const audioTriggers = document.querySelectorAll('[data-audio-trigger]');

        function togglePlayIcon(el) {
          const playIcon = el.getElementsByClassName('play')[0];
          !playIcon.classList.contains('pause') ? playIcon.classList.add('pause') : playIcon.classList.remove('pause');
        }

        function toggleAudio(src) {
          !src.paused ? src.pause() : src.play();
          togglePlayIcon(src.parentElement);
        }
        for (var i = 0; i < audioTriggers.length; i+= 1) {
          audioTriggers[i].addEventListener('click', function() {
            toggleAudio(this.lastElementChild);
          });
        };

        // scroll events
        function applyDarkTheme() {
          document.getElementsByClassName('app-background')[0].style.background = `#1a1a1a`;
          document.body.classList.add('theme-dark');
        }

        function removeDarkTheme() {
          document.getElementsByClassName('app-background')[0].style.background = ``;
          document.body.classList.remove('theme-dark');
        }


        function isScrolledIntoView(el) {
          var rect = el.getBoundingClientRect();
          var elemTop = rect.top;
          var elemBottom = rect.bottom;

          // Only completely visible elements return true:
          // var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
          // Partially visible elements return true:
          isVisible = elemTop < window.innerHeight && elemBottom >= 0;
          isVisible ? applyDarkTheme() : removeDarkTheme();
        } 

        window.addEventListener('scroll', function() {
          console.log(window.scrollY);
          // isScrolledIntoView(document.getElementsByClassName('content-services')[0]);
        })

      });
    </script>
    
    <script type="text/javascript">
      //uncomment and change this to false if you're having trouble with WOFFs
      //var woffEnabled = true;
      //to place your webfonts in a custom directory 
      //uncomment this and set it to where your webfonts are.
      //var customPath = "/themes/fonts";
      </script>
      <script type="text/javascript" src="/assets/js/typo.js"></script>
    <script type="text/javascript" async src="/assets/js/index.js"></script>
  </body>
</html>
